@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'BN Recon Grotesk';
	src: url('/assets/fonts/BNReconGroteskRegular.woff2') format('woff2'),
			url('/assets/fonts/BNReconGroteskRegular.woff') format('woff'),
			url('/assets/fonts/BNReconGroteskRegular.svg#BNReconGroteskRegular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@layer base {
  body {
    @apply bg-peach-light;
  }
  h1 {
    @apply font-recon-grotesk text-[2rem] leading-9 uppercase;
  }

}

@layer components {
  .wrapper {
    @apply pt-4 mx-5 pb-2;
  }

  .viewport {
    @apply relative w-screen h-screen overflow-hidden;
    transition: color 0.25s;

    &::before,
    &::after {
      @apply absolute border-solid border-transparent w-0 h-0;
      @apply box-border pointer-events-none;
      content: '';
    }

    &::before {
      @apply top-0 left-0;
    }

    &::after {
      @apply bottom-0 right-0;
    }

    .bg {
      @apply bg-yellow absolute top-1/2 left-1/2 rounded-full -z-10;
      @apply scale-0 -translate-x-1/2 -translate-y-1/2;
      @apply w-[100vh] h-screen lg:w-screen lg:h-[100vw];
    }
  }

  @keyframes bg-expand {
    0% {
      @apply scale-0 opacity-0;
    }
    30% {
      @apply opacity-60;
    }
    100% {
      @apply scale-150 opacity-100;
    }
  }

  .viewport--active {
    --duration: 0.5s;
    --delay: 500ms;
    --border-width: 8px;

    .bg {
      /* @apply scale-125 transition-all duration-1000 ease-in-out; */
      /* animation: bg-expand 1.3s cubic-bezier(.68,-0.55,.27,1.55) forwards; */
      animation: bg-expand 1.3s cubic-bezier(.33,-0.47,.27,1.55) forwards;
    }

    &::before,
    &::after {
      @apply w-full h-full z-50;
    }

    &::before {
      @apply border-t-black border-r-black;
      border-right-width: var(--border-width);
      border-top-width: var(--border-width);
      transition:
        width var(--duration) ease-out,
        height var(--duration) ease-out var(--duration); 
    }

    &::after {
      @apply border-b-black border-l-black;
      border-bottom-width: var(--border-width);
      border-left-width: var(--border-width);
      transition:
        border-color 0s ease-out calc(var(--duration) * 2), 
        width var(--duration) ease-out calc(var(--duration) * 2),
        height var(--duration) ease-out calc(var(--duration) * 3); 
    }
  }

  .header::before {
    content: '';
    @apply bg-peach-light w-full h-full absolute scale-x-0 top-0 origin-right duration-700 transition-transform;
  }

  .header::after {
    content: '';
    @apply bg-black w-full h-2 absolute top-full scale-x-0 duration-[1500ms] origin-right transition-transform;
  }

  .header--active::before, .header--active::after {
    @apply scale-100 ease-out;
  }

  .header--active::before {
    @apply w-full delay-300;
  }
  .header--active::after {
    /* @apply delay-300; */
  }


  @keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--marquee-width))); }
  }

  .marquee {
    animation: scrolling var(--marquee-time) linear infinite;

    &:hover {
      animation-play-state: paused;
    }
  }
  
  .canvas {
    @apply select-none;

    [x-bind="background"] {
      @apply hover:cursor-mouse;
    }
  }
  
  .block {
    --shadow-width: 6px;

    @apply absolute -translate-x-1/2 origin-center scale-0 -translate-y-1/2 opacity-0;;
    @apply transition duration-300 ease-in-out box-content border-8 border-transparent;
    
    @apply bg-peach p-12 hover:cursor-move;
    top: var(--top);
    left: var(--left);

    &:not(.block--selected):not(.block--moving) {

      &:before, &:after {
        content: "";
        @apply bg-black absolute pointer-events-none;
      }

      &:after {
        @apply w-[calc(100%_+_1rem)] h-2 -bottom-4 left-0;
      }

      &:before {
        @apply h-[calc(100%_+_0.5rem)] w-2 -right-4 top-0;
      }
    }

    &.block--visible {
      @apply opacity-100 p-11 scale-100;
    }

    &.block--selected, &.block--moving {
      @apply border-black z-30 p-12 ;
    }

    &.block--moving {
      @apply select-none;
    }

    > * {
      @apply pointer-events-none;
    }
/* 
    [class*="shadow--"] {
      @apply absolute bg-purple/50;
    }

    .shadow--l, .shadow--r {
      width: var(--shadow-width);
    }

    .shadow--b, .shadow--t {
      height: var(--shadow-width);
    }

    .shadow--l {
      @apply top-0;
      height: calc(100% + calc(var(--shadow-width) + 4px));
      left: calc(calc(var(--shadow-width) * -1) - 0.25rem);
    }

    .shadow--b {
      @apply -left-1 w-[calc(100%_+_0.5rem)];
      width: calc(100% + var(--shadow-width));
      bottom: calc(calc(var(--shadow-width) * -1) - 0.25rem)
    } */
  }
}