@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'BN Recon Grotesk';
	src: url('/assets/fonts/BNReconGroteskRegular.woff2') format('woff2'),
			url('/assets/fonts/BNReconGroteskRegular.woff') format('woff'),
			url('/assets/fonts/BNReconGroteskRegular.svg#BNReconGroteskRegular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: 'Platform';
	src: url('/assets/fonts/Platform-Bold.woff2') format('woff2'),
			url('/assets/fonts/Platform-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Platform';
	src: url('/assets/fonts/Platform-Regular.woff2') format('woff2'),
			url('/assets/fonts/Platform-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Platform';
	src: url('/assets/fonts/Platform-Light.woff2') format('woff2'),
			url('/assets/fonts/Platform-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}


@layer base {
  body {
    --black: #000;
    --white: #f9f9f9;
    --yellow-light: #FDFD96;
    --yellow: #ffdb58;
    --pink: #EE9ED3;
    --grey: #f5f5f5;
    --peach: #ffae92;
    --peach-light: #f8f2ed;
    --purple: #9723c9;
    --purple-light: #C1C5E0;
    --green: #073f38;
    --olive: #516b35;

    @apply bg-peach-light;
  }

  h1 {
    @apply font-recon-grotesk text-2xl lg:text-[2rem] leading-9 uppercase;
  }

  h2 {
    @apply font-aktiv text-xl leading-6 uppercase;
  }

  h6 {
    @apply font-aktiv text-base leading-5 uppercase;
  }

}

@layer components {
  .wrapper {
    @apply pt-4 mx-5 pb-2;
  }

  .viewport {
    @apply relative w-screen h-svh overflow-hidden;
    transition: color 0.25s;

    &::before,
    &::after {
      @apply absolute border-solid border-transparent w-0 h-0 z-max;
      @apply box-border pointer-events-none;
      content: '';
    }

    &::before {
      @apply top-0 left-0;
    }

    &::after {
      @apply bottom-0 right-0;
    }

    .bg {
      @apply bg-yellow absolute top-1/2 left-1/2 rounded-full -z-10;
      @apply scale-0 -translate-x-1/2 -translate-y-1/2;
      @apply portrait:w-[100vh] portrait:h-screen landscape:w-screen landscape:h-[100vw];
    }
  }

  @keyframes bg-expand {
    0% {
      @apply scale-0 opacity-0;
    }
    30% {
      @apply opacity-60;
    }
    100% {
      @apply scale-150 opacity-100 rounded-none;
    }
  }

  .viewport--active {
    --duration: 0.5s;
    --delay: 500ms;
    --border-width: 8px;

    .bg {
      /* @apply scale-125 transition-all duration-1000 ease-in-out; */
      /* animation: bg-expand 1.3s cubic-bezier(.68,-0.55,.27,1.55) forwards; */
      animation: bg-expand 1.3s cubic-bezier(.33,-0.47,.27,1.55) forwards;
    }

    &::before,
    &::after {
      @apply w-full h-full z-max;
    }

    &::before {
      @apply border-t-black border-r-black;
      border-right-width: var(--border-width);
      border-top-width: var(--border-width);
      transition:
        width var(--duration) ease-out,
        height var(--duration) ease-out var(--duration); 
    }

    &::after {
      @apply border-b-black border-l-black;
      border-bottom-width: var(--border-width);
      border-left-width: var(--border-width);
      transition:
        border-color 0s ease-out calc(var(--duration) * 2), 
        width var(--duration) ease-out calc(var(--duration) * 2),
        height var(--duration) ease-out calc(var(--duration) * 3); 
    }
  }

  .header::before {
    content: '';
    @apply bg-peach-light w-full h-full absolute scale-x-0 top-0 origin-right duration-700 transition-transform;
  }

  .header::after {
    content: '';
    @apply bg-black w-full h-2 absolute top-full scale-x-0 duration-[1500ms] origin-right transition-transform;
  }

  .header--active::before, .header--active::after {
    @apply scale-100 ease-out;
  }

  .header--active::before {
    @apply w-full delay-300;
  }
  .header--active::after {
    /* @apply delay-300; */
  }


  @keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--marquee-width))); }
  }

  .marquee {
    @apply inline-flex space-x-3 whitespace-nowrap max-w-full;

    &.marquee--autoplay, &:not(.marquee--autoplay):hover {
      animation: scrolling var(--marquee-time) linear infinite;
    }

    &.marquee--autopause:hover {
      animation-play-state: paused;
    }
  }
  
  .canvas {
    @apply select-none;

    [x-bind="background"] {
      @apply hover:cursor-mouse;
    }
  }
  
  .project-meta {
    @apply absolute max-w-[calc(100vw_-_2.5rem)] md:max-w-[calc(100vw_-_5.5rem)];
    @apply left-5 md:left-11;
    @apply w-full;
    z-index: 1000;
    
    &.project-meta--no-link, &.project-meta--button {
      @apply bottom-5 md:bottom-10;
    }
    
    &.project-meta--has-link {
      @apply bottom-16 lg:bottom-10;
    }

    &.project-meta--button {
      @apply justify-center lg:justify-end flex;

      h6 {
        @apply inline-block;
      }
    }
  }

  .link-button {
    @apply inline-block bg-black text-yellow rounded-full text-center mix-blend-normal pt-2 pb-1 px-6;
    @apply transition-all duration-300 ease-in-out origin-center;
    @apply hover:bg-peach hover:text-black hover:scale-105;
  }

  .project-block {
    --shadow-width: 6px;
    --border-color: var(--black);
    --bg-color: var(--peach);
    --selected-border-color: var(--black);

    @apply absolute -translate-x-1/2 origin-center scale-0 -translate-y-1/2 opacity-0;;
    @apply transition duration-300 ease-in-out box-content;
    @apply hover:cursor-move;
    
    background-color: var(--bg-color);
    top: var(--top);
    left: var(--left);

    &:not(.block--selected):not(.block--moving) {
      @apply scale-50 lg:scale-90;
      @apply hover:lg:scale-100 hover:!z-9990;

      &:before, &:after {
        @apply absolute pointer-events-none;
        content: "";
        background-color: var(--border-color);
      }

      &:after {
        @apply w-full h-2 -bottom-2 left-2;
      }

      &:before {
        @apply h-full w-2 -right-2 top-2;
      }
    }

    &.block--visible {
      @apply opacity-100 scale-50 lg:scale-100;
    }

    &.block--selected, &.block--moving {
      @apply z-30 border-8;
      border-color: var(--selected-border-color);
    }

    &.block--moving {
      @apply select-none;
    }

    > * {
      @apply pointer-events-none;
    }
  }
}

@layer utilities {
  [x-cloak] {
    @apply hidden;
  }

  .project-description {
    @apply font-platform font-light text-xl leading-5 hidden lg:block relative;
  }
}