---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import Canvas from "../components/Canvas.astro";
import Typewriting from "../components/Typewriting.astro";

const projects = await getCollection("projects");
let items = [];
projects.map(({ data: project, id }) => {
  const processedItems = project.items.map((item) => ({
    ...item,
    projectTitle: project.title,
    projectDescription: project.description,
    shortProjectDescription: project.shortDescription,
    projectLink: project.link || "",
    projectSlug: id,
  }));
  items = [...items, ...processedItems];
});
---

<Layout title="Alfred Lau aka @signorekai">
  <div class="viewport-screen">
    <h3
      class="absolute top-0 p-1 overflow-hidden hidden lg:block w-full opacity-0 transition-all duration-300 ease-out uppercase font-platform text-xl bg-black text-white/95"
      x-data="Stagger(3000, ['opacity-100'])"
    >
      <ul
        class="marquee"
        x-bind="container"
        x-data="Marquee({speed: 0.65, dynamicWidthElements: true})"
      >
        <li>* A.K.A @SIGNOREKAI ON THE INTERNET</li>
        <li>-</li>
        <li>Tap anywhere on the yellow box to get started</li>
        <li>-</li>
        <li>Go on, I won't bite</li>
        <li>-</li>
      </ul>
    </h3>
    <Canvas className="flex-1" portfolio={items} />
  </div>
  <div class="viewport-screen bg-olive-light">
    <div class="viewport-wrapper">
      <h2>Under Construction</h2>
    </div>
  </div>
</Layout>
