---
import Eyes from "./Eyes.astro";
import Typewriting from "./Typewriting.astro";
---

<div
  class="relative z-9990 w-full border-black header"
  x-ref="header"
  x-data="Stagger(1050, 'header--active')"
  x-resize="document.querySelector('.body-wrapper').style.setProperty('--header', `${$height}px`); $store.headerHeight = $height;"
>
  <div
    class="wrapper flex-align-middle justify-between lg:justify-start text-peach-light gap-x-2 pt-4"
  >
    <div
      class="opacity-0 order-2 lg:order-1"
      x-data="Stagger(3000, 'opacity-0')"
    >
      <Eyes
        className="text-transparent scale-[1.7] origin-[65%_50%] lg:scale-100 eyes--no-shadow"
      />
    </div>
    <h1
      class="order-1 lg:order-2 normal-case relative z-10 leading-none outlined flex-align-middle gap-x-1"
    >
      <Typewriting
        pauseStart={3000}
        pauseEnd={3000}
        textArray={[
          "MY NAME IS ALFRED",
          "& I MAKE DIGITAL THINGS",
          "UI DESIGN...",
          "FULLSTACK DEV...",
        ]}
      />
    </h1>
  </div>
</div>
