---
interface Props {
  text?: string;
  textArray: string[];
  textIndex?: number;
  charIndex?: number;
  typingSpeed?: number;
  deleteSpeed?: number;
  pauseStart?: number;
  pauseEnd?: number;
  cursorSpeed?: number;
  repeatCycle?: number;
  multiline?: boolean;
  autostart?: boolean;
  cursorClassName?: string;
}

let {
  text = "",
  textArray,
  textIndex = 0,
  charIndex = 0,
  typingSpeed = 50,
  deleteSpeed = 30,
  pauseStart = 1000,
  pauseEnd = 2000,
  cursorSpeed = 500,
  repeatCycle = 0,
  autostart = true,
  multiline = false,
  cursorClassName = "",
} = Astro.props;

// set defaults
const options = {
  text,
  textIndex,
  textArray,
  charIndex,
  typingSpeed,
  deleteSpeed,
  pauseStart,
  pauseEnd,
  cursorSpeed,
  repeatCycle,
  multiline,
  autostart,
};

const styles = {
  "--cursor-speed": `${cursorSpeed}ms`,
  "--pause-start": `${pauseStart * 2}ms`,
};
---

<span
  x-bind="textContainer"
  class="typewriter"
  x-data={`Typewriter(${JSON.stringify(options)})`}
  aria-label={options.textArray.join(" ")}
  aria-hidden="true"
>
</span>
<span
  x-bind:style={`${JSON.stringify(styles)}`}
  class:list={["typewriter-cursor", cursorClassName]}
  x-ref="cursor"></span>
