---
interface Props {
  className?: string;
}

let { className } = Astro.props;
---

<div
  class={`viewport flex flex-col ${className}`}
  x-data="Stagger(200, 'viewport--active')"
>
  <slot />
  <div class="bg pointer-events-none"></div>
</div>
